[submodule "rtl"]
	path = rtl
	url = git@github.com:silagokth/drra2-rtl
[submodule "syn"]
	path = syn
	url = git@github.com:silagokth/drra2-syn
[submodule "compiler"]
	path = compiler
	url = git@github.com:silagokth/vesyla-suite-4.git
[submodule "pnr"]
	path = pnr
	url = git@github.com:silagokth/drra2-pnr
